* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #009;
    text-align: center;
    text-decoration: overline;
}

p {
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
    color: #009;
    text-align: center;
    font-style: italic;
}

.me {
    background: aquamarine;
}